[submodule "Gists/Replace_text_in_a_table_in_Python"]
	path = Gists/Replace_text_in_a_table_in_Python
	url = https://gist.github.com/aspose-words-gists/a47401178cba165f62701f6c94e8a4ec
[submodule "Gists/Advanced_table_formatting_Python"]
	path = Gists/Advanced_table_formatting_Python
	url = https://gist.github.com/aspose-words-gists/1825da859a3400b9777f6c745a0889aa
[submodule "Gists/Working_with_parts_of_a_table_using_Python"]
	path = Gists/Working_with_parts_of_a_table_using_Python
	url = https://gist.github.com/aspose-words-gists/212655df045ed6557d6a9b8ea875d8e9
[submodule "Gists/Table_formatting_in_details_using_Python"]
	path = Gists/Table_formatting_in_details_using_Python
	url = https://gist.github.com/aspose-words-gists/cc27d25b7638915607d1d60373c08da9
[submodule "Gists/Fill_document_table_from_external_database_using_Python"]
	path = Gists/Fill_document_table_from_external_database_using_Python
	url = https://gist.github.com/aspose-words-gists/06721a97657981cdb27970a352300119
[submodule "Gists/How_to_make_a_table_in_Python"]
	path = Gists/How_to_make_a_table_in_Python
	url = https://gist.github.com/aspose-words-gists/daa15d229a9e8b9015aa87ff6893f387
[submodule "Gists/Join_tables_in_Python"]
	path = Gists/Join_tables_in_Python
	url = https://gist.github.com/aspose-words-gists/58600aa383a4cba01a02603683e30fd3
[submodule "Gists/Split_table_in_Python"]
	path = Gists/Split_table_in_Python
	url = https://gist.github.com/aspose-words-gists/d31be78b25b463dd4eb31c85c60fc549
[submodule "Gists/How_to_merge_table_cells_in_Python"]
	path = Gists/How_to_merge_table_cells_in_Python
	url = https://gist.github.com/aspose-words-gists/b89ea9092bd2486dc056818cf4f73e24
[submodule "Gists/Specify_table_position_in_Python"]
	path = Gists/Specify_table_position_in_Python
	url = https://gist.github.com/aspose-words-gists/1768d04dbe9222138611d5ad4047beef
[submodule "Gists/Work_with_sections_Python"]
	path = Gists/Work_with_sections_Python
	url = https://gist.github.com/aspose-words-gists/000cda3bfe9679c09bfd03617bd1f9e8
